
.Dashboard-body {
    height: 90vh;
  }
  
  .dashboard-container {
    display: flex;
     background-color: #176B87;
  }
  .content {
    flex-grow: 1;
  } 
  .Sidebar {
    width: 250px; 
    background-color: #04364a;
    height: 90vh;
  }
  .dash-big-container{
    display:flex;
    height:80vh;
     color:white; 
  }
  .dash-left-container{
    background-color: #176B87;
    height:60vh;
    width:70%;
    margin:5rem;
    border: 1px solid #64ccc5;
    padding:5rem;
    padding-top:7rem;
    box-shadow: 0 0 10px #64ccc5;
  }
  .dash-right-container{
    height:80vh;
    width:50%;
    display: flex;
    flex-direction: column;
  }
  .cont-1, .cont-2 ,.cont-3{
    height:25%;
    width:90%;
    margin:1rem;
    padding:2rem;
    border: 1px solid #64ccc5;
    box-shadow: 0 0 10px #64ccc5;
    text-align:center;
  }
  .dash-head{
   margin-left: 12rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:white; 
  }